{% extends 'account/main.html' %}

{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
<h1 style="color: white; font: medium; text-align: center;" class="card-body">Contact Us</h1>
<div style="color: white; font-style: italic; text-align: center;" class="card-body">Contact me in
    <a href="https://api.whatsapp.com/send?phone=6282245701889">WhatsApp</a>
        <p style="color: white;">and
            <a href="mailto:kelvinroyal45@gmail.com">Email</a>
        </p>
</div>

</body>
</html>
{% endblock %}