{% extends 'account/main.html' %}

{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="color: white; text-align: center; font-size: 35px; font-weight: bold;" class="card-body">My Blog-Rekomended Film</div>
    <div style="color: white; text-align: center; font-size: 20px;" class="card-body"><span style="font-size: 20px; font-weight: bold;">MyBlogRekomendedFilm - Baca artikel dari berbagai genre Film.</span> Blog ini dibuat untuk merekomendasikan Film-film berbagai Genre, mulai dari Genre Horror, Comedy, Romance dll yang ada di Indonesia maupun di Luar Negri. Di sini anda dapat membaca artikel tentang film yg ingin anda tonton. Jika anda ingin mendownload film atau ingin streaming film, anda bisa mengunjungi blog-blog atau web-web lainnya yang menyediakan fitur tersebut.</div>
</body>
</html>
{% endblock %}
